@import '../node_modules/react-md/src/scss/react-md';

$md-primary-color: $md-teal-500;
$md-secondary-color: $md-pink-500;

@include react-md-everything;

.app-container {
  .app-card {
    margin: 16px 0px;
  }

  .md-text-center {
    color: red;
  }

  .pagination {
    display: flex;
    justify-content: center;
  }
}